body {
  background-color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: green;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7rem;
}

p {
  color: blue;
  font-size: 1.2rem;
}
