body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: lightgreen;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7rem;
}

p {
  color: lightgreen;
  font-size: 1.2rem;
}
